<div class="row tournament-details">
    <div class="col-xs-12">
        <img [src]="tournament?.imagePath" alt="{{ tournament?.name }}" class="img-responsive" style="max-height: 300px; margin-bottom: 20px;">
    </div>
</div>
<div class="row tournament-details">
    <div class="col-xs-12">
        <h1 class="tournament-name">{{ tournament?.name }}</h1>
    </div>
</div>
<div class="row tournament-details">
    <div class="col-xs-12">
        <p class="tournament-description">{{ tournament?.description }}</p>
    </div>
</div>
<div class="row tournament-details">
    <div class="col-xs-12">
        <p class="section-title">Participants</p>
    </div>
</div>
