<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
<div class="row">
    <div class="col-xs-12">
        <h1>Tournament Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <div class="btn-group">
        <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Inscription 
        <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li><a href="#">Pay</a></li>
        <li><a href="#">Unsuscribe</a></li>
       </ul>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       Description 
    </div>
<div class="row">
    <div class="col-xs-12">
        Participants 
    </div>
</div>
