<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="tournament?.imagePath" 
        alt="{{ tournament?.name }}" 
        class="img-responsive"
        style="max-height: 300px;">
    </div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ tournament?.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <div class="btn-group">
        <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Inscription 
        <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
        <li>Pay</li>
        <li>Unsuscribe</li>
       </ul>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       {{ tournament?.description }}
    </div>
<div class="row">
    <div class="col-xs-12">
        Participants 
    </div>
</div>
