<div class="registration-container">
    <h2 class="section-title center-title">Registration Club Admin</h2>
  
  
  <form [formGroup]="registrationClubForm" (ngSubmit)="onSubmit()" class="club_admin-form">
    <div class="form-group">
      <label for="f_name" class="createplayer-titles">First Name:</label>
      <input type="text" id="f_name" name="f_name" formControlName="f_name" required>
    </div>
  
    <div class="form-group">
      <label for="l_name" class="createplayer-titles">Last Name:</label>
      <input type="text" id="l_name" name="l_name" formControlName="l_name" required>
    </div>
  
    <div class="form-group">
      <label for="username" class="createplayer-titles">Username:</label>
      <input type="text" id="username" name="username" formControlName="username" required>
    </div>
  
    <div class="form-group">
      <label for="email" class="createplayer-titles">Email:</label>
      <input type="email" id="email" name="email" formControlName="email" required>
    </div>
  
    <div class="form-group">
      <label for="password" class="createplayer-titles">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
    </div>
  
    <div class="form-group">
      <label for="dni" class="createplayer-titles">DNI:</label>
      <input type="text" id="dni" name="dni" formControlName="dni" required>
    </div>
  
    <div class="form-group">
      <label for="date_of_birth" class="createplayer-titles">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" formControlName="date_of_birth" required>
    </div>

    <div class="form-group">
        <label for="club_id" class="createplayer-titles">Club:</label>
        <select id="club_id" name="club_id" formControlName="club_id">>
          <option value="1">Arena Padel</option>
        </select>
      </div>
  
    <button type="submit" class="btn btn-primary">Register</button>
  
    <div class="alert alert-danger" *ngIf="registrationStatus === 'success'">{{ registrationMessage }}</div>
    <div class="alert alert-danger" *ngIf="registrationStatus === 'error'">{{ registrationMessage }}</div>
  
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('f_name')?.touched && registrationClubForm.get('f_name')?.invalid">First Name is required.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('l_name')?.touched && registrationClubForm.get('l_name')?.invalid">Last Name is required.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('username')?.touched && registrationClubForm.get('username')?.invalid">Username is required.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('email')?.touched && registrationClubForm.get('email')?.invalid">Email is required and must be a valid email.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('password')?.touched && registrationClubForm.get('password')?.invalid">Password is required.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('dni')?.touched && registrationClubForm.get('dni')?.invalid">DNI is required.</div>
    <div class="alert alert-danger" *ngIf="registrationClubForm.get('date_of_birth')?.touched && registrationClubForm.get('date_of_birth')?.invalid">Date of Birth is required.</div>
  </form>
  
  </div>