<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="tournament-container">
  <h2>New Tournament</h2>

  <form [formGroup]="tournamentForm" (ngSubmit)="onSaveTournament()">
    <div class="form-group">
      <label for="numberOfPairs">1. How many couples will participate?</label>
      <div class="btn-group btn-group-toggle d-block" data-toggle="buttons">
        <label class="btn btn-outline-primary mb-2">
          <input type="radio" name="numberOfPairs" id="option12" [value]="12" formControlName="numberOfPairs"> 12
        </label>
        <label class="btn btn-outline-primary mb-2">
          <input type="radio" name="numberOfPairs" id="option15" [value]="15" formControlName="numberOfPairs"> 15
        </label>
        <label class="btn btn-outline-primary mb-2">
          <input type="radio" name="numberOfPairs" id="option18" [value]="18" formControlName="numberOfPairs"> 18
        </label>
        <label class="btn btn-outline-primary mb-2">
          <input type="radio" name="numberOfPairs" id="option21" [value]="21" formControlName="numberOfPairs"> 21
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="numberOfCourts">2. How many courts will be used?</label>
      <div class="input-group">
        <input type="number" class="form-control" id="numberOfCourts" name="numberOfCourts" min="1" formControlName="numberOfCourts">
        <div class="input-group-append">
          <br>
          <span class="input-group-text">Couples organizer</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Tournament start date and time</label>
      <input type="datetime-local" class="form-control" id="startDateTime" name="startDateTime" formControlName="startDate">
    </div>

    <div class="form-group">
      <label for="endDate">Tournament end date and time</label>
      <input type="datetime-local" class="form-control" id="endDateTime" name="endDateTime" formControlName="endDate">
    </div>

    <button class="btn btn-primary" type="submit">Generate tournament brackets</button>
  </form>
</div>
