.tournament-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #232D3F;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  h2 {
    color: #008170;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: #008170;
    font-size: 16px;
  }
  
  .btn-outline-primary {
    color: #008170;
    border-color: #008170;
  }
  
  .btn-outline-primary.active, .btn-outline-primary:active {
    color: #fff;
    background-color: #008170;
    border-color: #008170;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #005B41;
    color: #fff;
    border: 1px solid #008170;
    border-radius: 4px;
  }
  
  .input-group-text {
    background-color: #008170;
    color: #fff;
    border: 1px solid #008170;
  }
  
  .btn-primary {
    background-color: #008170;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #005B41;
  }
  