<nav class="navbar navbar-expand-lg" style="background-color: #232D3F; color: #008170;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-family: 'Raleway', sans-serif; color: #008170;">Arena Padel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="onSelect('tournament')" style="color: #008170;">Tournaments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onSelect('user-club')" style="color: #008170;">Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="settingsDropdown" role="button"
             [attr.data-bs-toggle]="isDropdownOpen ? '' : 'dropdown'" aria-expanded="false" style="color: #008170;">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
            <li><a class="dropdown-item" routerLink="/courts" style="color: #008170;">Courts</a></li>
            <li><a class="dropdown-item" routerLink="/couples" style="color: #008170;">Couples</a></li>
            <li><a class="dropdown-item" routerLink="/profile" style="color: #008170;">Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()" style="color: #008170;">Log Out</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: #005B41; color: #fff; border: 1px solid #008170;">
        <button class="btn btn-outline-success" type="submit" style="color: #008170; border-color: #008170;">Search</button>
      </form>
    </div>
  </div>
</nav>
