<div class="tournament-list-container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-success btn-full-width" (click)="navigateToNewTournament()">Nuevo Torneo</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-tournament-item *ngFor="let tournamentEl of tournaments"
                [tournament]="tournamentEl" (tournamentSelected)="onTournamentSelected(tournamentEl)">
            </app-tournament-item>
        </div>
    </div>
</div>
