<h2>Registration</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <label for="f_name">First Name:</label>
  <input type="text" id="f_name" name="f_name" formControlName="f_name" required><br>

  <label for="l_name">Last Name:</label>
  <input type="text" id="l_name" name="l_name" formControlName="l_name" required><br>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" formControlName="username" required><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" formControlName="email" required><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" formControlName="password" required><br>

  <label for="dni">DNI:</label>
  <input type="text" id="dni" name="dni" formControlName="dni" required><br>

  <label for="date_of_birth">Date of Birth:</label>
  <input type="date" id="date_of_birth" name="date_of_birth" formControlName="date_of_birth" required><br>

  <label for="role">Role:</label>
  <select id="role" name="role" formControlName="role" required>
    <option value="player">Player</option>
    <option value="club_admin">Club Admin</option>
  </select><br>

  <button type="submit">Register</button>
</form>