<h2 class="section-title">Registration</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
  <div class="form-group">
    <label for="f_name">First Name:</label>
    <input type="text" id="f_name" name="f_name" formControlName="f_name" required class="form-control">
  </div>

  <div class="form-group">
    <label for="l_name">Last Name:</label>
    <input type="text" id="l_name" name="l_name" formControlName="l_name" required class="form-control">
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" formControlName="username" required class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email" required class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" formControlName="password" required class="form-control">
  </div>

  <div class="form-group">
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" formControlName="dni" required class="form-control">
  </div>

  <div class="form-group">
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" formControlName="date_of_birth" required class="form-control">
  </div>

  <div class="form-group">
    <label for="role">Role:</label>
    <select id="role" name="role" formControlName="role" required class="form-control">
      <option value="player">Player</option>
      <option value="club_admin">Club Admin</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>

  <!-- Resto de los mensajes de advertencia -->
</form>
